.about-header {
  position: relative;
  width: 100%;
  padding: 150px 0 102px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 2rem;
}
.about-header h1 {
  background: #00000047 !important;
  width: 30%;
  margin: auto;
  font-size: 50px;
}
.about-header h3 {
  color: yellow;
  background: black;
  width: 30%;
  margin: auto;
}
.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.content-box h1 {
  width: 30%;
  margin: auto;
  color: #fff;
  font-size: 50px;
  padding: 5px;
  background: #00000047 !important;
}
.content-box p {
  color: #fff;
  font-size: 25px;
}
.about_info {
  width: 80%;
  margin: auto;
  padding: 100px 0;
}

.about_title p {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 28px;
  color: grey;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about_title h2 {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  color: #195a8c;
}
.about_text p {
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}

.about_image img {
  position: relative;
  display: block;
  overflow: hidden;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 20px 30px 0 rgb(0 0 0 / 20%);
  height: 100%;
  width: 100%;
}
.about-img {
  height: 80%;
  width: 100%;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* services section */
.flightimg {
  height: 100px !important;
  width: 100px !important;
  margin-bottom: 1.5rem;
}
.flights h2 {
  font-size: 50px;
  font-weight: 500;
}

/* faq */
.faq-header {
  position: relative;
  width: 100%;
  padding: 150px 0 102px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 2rem;
}
.faq-header .faq h1 {
  font-size: 100px;
  color: #fff;
}

.faq-questions {
  width: 60%;
  margin: auto;
}
@media (max-width: 991px) {
  .about-header {
    padding: 95px 0 102px 0;
    height: 250px;
  }
  .content-box h1 {
    font-size: 40px;
  }
  .content-box p {
    font-size: 18px;
  }
  .about_info {
    padding: 70px 0;
    width: 100%;
  }
  .about_title p {
    font-size: 14px;
  }
  .about_title h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .flights h2 {
    font-size: 40px;
    font-weight: 500;
  }
}

@media (max-width: 400px) {
  .flights h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .flights p {
    font-size: 16px;
  }
  .flights .about-img {
    height: 100%;
  }
  .content-box h1 {
    width: 70%;
  }
  .about_info {
    padding: 0;
  }
  .about_text p {
    line-height: 1.5;
    font-size: 16px;
  }
}
